<g :transform="'translate('+x+', '+y+')'">
	<g>
		<a href="#" class="node">
			<rect y="0" width="100" height="40" rx="10" ry="10" style="stroke: grey; fill: red;"></rect>
			<!--
			<rect x="4" y="4" width="32.5" height="32.5" rx="5" ry="5" style="stroke: black; fill-opacity: 0;"></rect>
			<foreignObject style="overflow:hidden" width="55" height="32.5" x="40" y="2.5"><body style="font-family:Arial; font-size:10; margin:0;">
				<div style="width:100%; height:100%;">
					<u>{{title}}</u><br><span style="word-break: break-all; word-wrap: break-word;width:100%">DeskripsiDeskripsiDeskripsiDeskripsi</span>
				</div>
			</body></foreignObject>
			-->
			<foreignObject style="overflow:hidden" width="95" height="32.5" x="2.5" y="2.5"><body style="font-family:Arial; font-size:10; margin:0;">
				<div style="display:flex; align-items:center; justify-content: center; width:100%; height:100%;">
					<div style="text-align:center;">{{title}}</div>
				</div>
			</body></foreignObject>
		</a>
	</g>
	<g transform="translate(-15, -7.5) scale(0.65, 0.65)">		
		<a href="#" @click="nodeExpandedAll">
			<g transform="translate(155, 80)"><circle cy="10" cx="10" r="10"></circle>
				<path fill="orange" stroke="orange" d="M10.5,5L17,10L10.5,15L10.5,5Z"></path>
				<path fill="orange" stroke="orange" d="M5.5,5L12,10L5.5,15L5.5,5Z"></path>
			</g>
		</a>
		<a href="#" @click="nodeExpanded">
			<g transform="translate(130, 80)"><circle cy="10" cx="10" r="10"></circle>
				<path fill="orange" stroke="orange" d="M7.5,5L14,10L7.5,15L7.5,5Z"></path>
			</g>
		</a>
		<a href="#" @click="nodeCollapsed">
			<g transform="translate(105, 80)">
				<circle cy="10" cx="10" r="10"></circle>
				<path fill="orange" stroke="orange" d="M12,5L5.5,10L12,15L12,5Z"></path>
			</g>
		</a>
	</g>
	<g v-if="isEdit" transform="translate(-15, -7.5) scale(0.65, 0.65)">
		<g transform="translate(155, 105)">
			<circle cy="10" cx="10" r="10"></circle>
			<path stroke="orange" stroke-width="2" d="M2,10L9,10Z"></path>
			<path stroke="orange" stroke-width="2" d="M5.5,6L5.5,14Z"></path>
			<path fill="orange" stroke="orange" d="M10.5,5L17,10L10.5,15L10.5,5Z"></path>
		</g>
		<g transform="translate(130, 105)">
			<circle cy="10" cx="10" r="10"></circle>
			<path stroke="orange" stroke-width="2" d="M5.5,10L14.5,10Z"></path>
			<path stroke="orange" stroke-width="2" d="M10,5L10,15Z"></path>
		</g>
		<g transform="translate(105, 105)">
			<circle cy="10" cx="10" r="10"></circle>
			<path stroke="orange" stroke-width="2" d="M5,5L12,12Z"></path>
			<path stroke="orange" stroke-width="2" d="M13,13L15,15Z"></path>
		</g>
		<g transform="translate(80, 105)">
			<circle cy="10" cx="10" r="10"></circle>
			<path stroke="orange" stroke-width="2" d="M5,5L15,15Z"></path>
			<path stroke="orange" stroke-width="2" d="M15,5L5,15Z"></path>
		</g>
		<g transform="translate(55, 105)">
			<circle cy="10" cx="10" r="10"></circle>
			<path stroke="orange" stroke-width="2" d="M8,5L6,5L6,8"></path>
			<path stroke="orange" stroke-width="2" d="M12,5L14,5L14,8"></path>
			<path stroke="orange" stroke-width="2" d="M8,15L6,15L6,12"></path>
			<path stroke="orange" stroke-width="2" d="M12,15L14,15L14,12"></path>
		</g>
	</g>
</g>